{
  "Servers": {
    "1": {
      "Name": "My Database Name",
			"Group": "Development",
			"Host": "db",
			"Port": 5432,
			"Username": "postgres",
			"MaintenanceDB": "postgres",
			"SSLMode": "prefer"
    }
  }
}
